html {
  scroll-behavior: smooth;
}

body {
    margin:0;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(218, 218, 218);
    height: 10000px;
}

header {
    overflow: hidden;
    background-color: #07a662;
    box-shadow: 1px 1px 3px black;
    position: sticky;
    top: 0;
    transition: transform 1s;
}

header a:hover {
  font-family: League;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float: left;
  background-color: white;
  color: #07a662;
}

header a {
  font-family: League;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float: left;
}




main{
    margin-top: 0.2%;
    display: flex;
    background: #07a662;
    padding: 35px;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    box-shadow: 1px 1px 3px black;
}

section {
    text-align: center;
    width: 70%;
}

#cabeçalho {
    flex-basis: 40%;
}

main ~ section {
    margin-top: 10px;
    background-color: white;
    padding: 35px;
    box-shadow: 1px 1px 3px black;
    scroll-margin-top: 60px;
}

.imgSVG {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    justify-content: space-around;
}

b {
    color: rgba(0, 0, 0, 0.85);
}

h1, p {
    font-family: League;
}

.title {
    font-size: 200%;
}

span {
    margin-top: 25px;
    font-size: 1.1em;
    color: #07a662;
}

.head {
    color: white;
}

.perfil {
    height: 190px;
    width: 190px;
}

.imgdiv {
    display: flex;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    overflow: hidden;
    border-left: 3px solid #0d804e;
    border-bottom: 3px solid #0d804e;
    border-top: 3px solid #0d804e36;
    border-right: 3px solid #0d804e36;
    margin-right: 3%;
}

h1 {
    margin: 0;
    font-size: 2em;
}

p {
    margin: 0;
    
}

h3 {
    font-family: League;
    margin-top: 0;
}

.text {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 100%;
    flex-shrink: 1;
    flex-grow: 1;
}

.textsub {
    margin-top: 0px;
    color: #07a662;
    text-align: center;
    font-size: 100%;
    flex-shrink: 1;
    flex-grow: 1;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#col {
    width: 10%;
    text-align: center;
    
}

.icons {
    display: inline-flex;
    margin-top: 20px;
    justify-content: space-around;
    flex-flow: row wrap;
    height: 36px;
}

a svg:hover {
    width: 32px;
    height: 32px;
}

a {
    text-decoration: none;  
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.arre {
  border-radius: 50%;
}

.subt {
    font-size: 110%;
    
}

.pinfo {
    color: yellow;
}

.value {
    text-align: center;
}

.graphBody{
    display: flex;
    overflow: visible;
    margin: 20px auto;
}

.circleF {
    fill:none;
    stroke:#00000038;
    stroke-width:7px;
    stroke-linecap: round;
    
}

.circle {
    fill:none;
    stroke:#07a662;
    stroke-width:7px;
    stroke-linecap: round;
    stroke-dasharray: 315;
    animation: animate 1s linear forwards;
    
}

.html{
    stroke-dashoffset: calc(0.4*315);
}

.css{
    stroke-dashoffset: calc(0.4*315);
}

.ingles{
    stroke-dashoffset: calc(0.3*315);
}

.photo{
    stroke-dashoffset: calc(0.7*315);
}

.teamw{
    stroke-dashoffset: calc(0.2*315);
}

.org{
    stroke-dashoffset: calc(0.35*315);
}

#skills {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#hab {
  width: 180px;
  height: 170px;
}

svg text {
    font-family: League;
    text-align: center;
    text-anchor: middle;
    font-size: 100%;
}

@keyframes animate {
    0% {
      stroke-dashoffset: 315;
    }
  }

@font-face {
    font-family: "League";
    src: url("fonts/leaguespartan-bold-webfont.woff");
  }