body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(218, 218, 218);
}

main{
    display: flex;
    background: #07a662;
    padding: 35px;
    width: 50%;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

section {
    text-align: center;
}

main ~ section {
    margin-top: 10px;
    background-color: white;
    padding: 35px;
    width: 50%;
    
}

.imgSVG {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    justify-content: space-around;
}

b {
    color: rgba(0, 0, 0, 0.85);
}

h1, p {
    font-family: League;
}

span {
    margin-top: 25px;
    font-size: 1.1em;
    color: #07a662;
}

.head {
    color: white;
}

.perfil {
    height: 190px;
    width: 190px;
}

.imgdiv {
    display: flex;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    overflow: hidden;
    border-left: 3px solid #0d804e;
    border-bottom: 3px solid #0d804e;
    border-top: 3px solid #0d804e36;
    border-right: 3px solid #0d804e36;
}

h1 {
    margin: 0;
    font-size: 2em;
}
p {
    margin: 0;
    
}

.text {
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.icons {
    width: 30%;
    display: inline-flex;
    margin-top: 20px;
    justify-content: space-around;
    flex-flow: row wrap;
    height: 36px;
}

a svg:hover {
    width: 32px;
    height: 32px;
}

a {
    text-decoration: none;
    border-radius: 50%;
    width: fit-content;
}

.subt {
    font-size: 1.2em;
    
}

.pinfo {
    color: yellow;
}

.value {
    text-align: center;
}

.chart{
    display: flex;
    overflow: visible;
    margin: 20px auto;
}

.circleF {
    fill:none;
    stroke:#00000038;
    stroke-width:7px;
    stroke-linecap: round;
    
}

.circle {
    fill:none;
    stroke:#07a662;
    stroke-width:7px;
    stroke-linecap: round;
    stroke-dasharray: 315;
    animation: dash 1s linear forwards;
    
}

.html{
    stroke-dashoffset: calc(0.4*315);
}

.css{
    stroke-dashoffset: calc(0.4*315);
}

.ingles{
    stroke-dashoffset: calc(0.3*315);
}

#skills {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

svg text {
    font-family: League;
    text-align: center;
    text-anchor: middle;
}

@keyframes dash {
    0% {
      stroke-dashoffset: 315;
    }
  }

@font-face {
    font-family: "League";
    src: url("fonts/leaguespartan-bold-webfont.woff");
  }